#submenu li a{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  
  /* Imageslider.css */
  #carouselExampleSlidesOnly {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1; /* Set a lower z-index to appear behind other elements */
  }
  
/* Custom CSS for navbar links */
.nav-link {
    color: white !important; /* Ensure the font color is white */
    margin-right: 15px; /* Add space between the links */
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 10px; /* Additional spacing for navbar items */
  }
/* Custom CSS for the buttons */
.btn-gap {
    margin-left: 10px; /* Adjust the margin value as needed */
  }

  #container-d{
    background-color: black;
  }

  /* src/App.css */

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form .btn:hover {
  background-color: #0056b3;
}


.custom-button-spacing button {
  margin-right: 10px; /* Adjust the value as needed */
}

    
