.Menu_head {
    text-align: center;
    
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .menu-item {
    margin-bottom: 30px;
  }
  
  .menu-item h3 {
    color: #333;
  }
  
  .menu-item p {
    color: #666;
  }
  
  .container{
    background-color: white;
    display: block;
  }