/* Myacc.css */
.my-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.my-account-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
